<div class="page">
  <div class="main-content">
    <div class="main-header">
      <div class="main-title">
        <h4>Test: Are you an introvert or an extrovert?</h4>
      </div>
      <div class="main-description">
        <p>
          So do you consider yourself more of an introvert or an extrovert? Take this test, put together with input from psychoanalyst Sandrine Dury, and find out
        </p>
      </div>
    </div>
    <div class="main-image">
      <button class="p-btn p-btn-filled take-button" (click)="takePersonalityTest()">Take the test</button>
      <div class="test-description">
        <span class="test-description-text">
          You will be asked some questions about different situations you might find yourself in.
          Please answer honestly for an accurate result.
        </span>
        <div class="text-description-color">

        </div>
      </div>
    </div>
  </div>
</div>
