.test-container {
  padding: 0 20px 20px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.test-result {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--light-grey-1);
  border-radius: 3px;
  background: var(--light-grey-2);

  .test-name {
    margin-bottom: 0;
  }

  .test-identifier {
    color: var(--medium-grey);
    font-size: 14px;
  }

  .test-description {
    color: var(--medium-grey);
    text-align: center;
    margin-top: 10px;
  }

  .test-results {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 5px 10px;
  }

  button {
    margin-top: 25px;;
  }

  &:hover {
    border: 1px solid var(--primary);
  }
}
