<div class="top-nav-wrapper">
  <div class="top-nav-container">
    <div class="top-nav-logo">
      My personality?
    </div>
    <div class="navigation">
      <ul class="navigation-list">
        <li>
          <a [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
        </li>
        <li>
          |
        </li>
        <li>
          <a [routerLink]="['/tests']" routerLinkActive="active">Tests</a>
        </li>
        <li>
          |
        </li>
        <li>
          <a [routerLink]="['/taken']" routerLinkActive="active">My taken tests</a>
        </li>
      </ul>
    </div>
  </div>
</div>
